<div>
	{{error}}
</div>
	
<h1>
	Person Details
</h1>
<table class="table table-striped">
	<thead>
		<tr class='danger'>
			<td>Name</td>
			<td>Email</td>
			<td>Number</td>
			<td>Edit</td>
			<td>Delete</td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="person in persons" class='info'>
			<td>{{person.name}}</td>
			<td>{{person.email}}</td>
			<td>{{person.number}}</td>
			<td><a ng-href='#/person' data-toggle='modal' data-target='#personEditModal' ng-click='search(person._id)'>Edit</a></td>
			<td><a href='#/person' ng-click='delete(person._id)'>Delete</a></td>
		</tr>
		<tr><!-- Trigger the modal with a button -->
			<td colspan='5'><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#personAddModal">Add Person</button></td>
		</tr>	
	</tbody>
</table>
<!-- Modal -->
<div id="personAddModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Person</h4>
      </div>
      <div class="modal-body">
        <form>
		  <div class="form-group">
		    <label for="txtName">Name</label>
		    <input type="name" class="form-control" ng-model='person.name' id="txtName" placeholder="Name">
		  </div>
		  <div class="form-group">
		    <label for="txtEmail">Email</label>
		    <input type="email" class="form-control" id="txtEmail" ng-modal='person.email' placeholder="Email">
		  </div>
		  <div class="form-group">
		    <label for="txtPhone">Phone</label>
		    <input type="phone" class="form-control" id="txtPhone" ng-modal='person.phone' placeholder="Phone">
		  </div>
		  <button type="submit" class="btn btn-default">Submit</button>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
	</div>
</div>

<div id="personEditModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Person</h4>
      </div>
      <div class="modal-body">
        <form>
		  <div class="form-group">
		    <label for="txtName">Name</label>
		    <input type="name" class="form-control" id="txtName" ng-modal='person.name' placeholder="Name">
		  </div>
		  <div class="form-group">
		    <label for="txtEmail">Email</label>
		    <input type="email" class="form-control" id="txtEmail" ng-modal='person.email' placeholder="Email">
		  </div>
		  <div class="form-group">
		    <label for="txtPhone">Phone</label>
		    <input type="phone" class="form-control" id="txtPhone" ng-modal='person.phone' placeholder="Phone">
		  </div>
		  <button type="submit" class="btn btn-default">Submit</button>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
</div>
</div>
